.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-grid {
  background-color: beige;
  padding: 4rem;
}

.main-header {
  background-color: bisque;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}

.second-header {
  background-color: bisque;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}
